files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/01-app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nodejs/nodejs.log

commands:
  01_fix_permissions:
    command: "chmod -R 755 /var/app/current/public"
  02_setup_timezone:
    command: "ln -sf /usr/share/zoneinfo/Australia/Sydney /etc/localtime"

option_settings:
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: dist/static
    /assets: public/assets
    /: public