option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    TZ: Australia/Sydney
    NODE_OPTIONS: "--max-old-space-size=512"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "NODE_ENV=production NODE_OPTIONS='--max-old-space-size=512' node dist/index.js"