option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18.20.4
    GzipCompression: true
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: public
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced