files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/01-app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nodejs/nodejs.log

commands:
  01_fix_permissions:
    command: "chmod -R 755 /var/app/current/public"
  02_setup_timezone:
    command: "ln -sf /usr/share/zoneinfo/Australia/Sydney /etc/localtime"

# Static files served by Express server directly