option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: postgresql://neondb_owner:npg_aTgs6Ifdic9u@ep-lingering-cherry-a66lv4kt.us-west-2.aws.neon.tech/neondb?sslmode=require
    OPENAI_API_KEY: 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
    ANTHROPIC_API_KEY: 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
    SENDGRID_API_KEY: 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
    TAVILY_API_KEY: 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
    TWILIO_ACCOUNT_SID: AC98235870e0ec6b51ecaa97f94f95fb7e
    TWILIO_AUTH_TOKEN: 24bc79bd8fe6429222b17b6af9f52cdb
    TWILIO_PHONE_NUMBER: +19402363750
    NODE_ENV: production
    PORT: "8080"
    APP_BASE_URL: https://KGC-Healthcare-Production.eba-dp9upgvh.us-east-1.elasticbeanstalk.com
    INITIAL_ADMIN_EMAIL: admin@keepgoingcare.com
    INITIAL_ADMIN_PASSWORD: "SecureKGC2025!"
    INITIAL_ADMIN_PHONE: "+61433509441"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    ProxyServer: nginx